:root {

    --font-family-paragraph: "PT Mono", monospace;
    --font-family-heading: 'Arvo', serif;

    --c-red: #ffabab;
    --c-orange: #ffcbc1;
    --c-yellow: #fff5ba;
    --c-lime: #e7ffac;
    --c-aqua: #aff8db;
    --c-lightblue: #ace7ff;
    --c-darkblue: #63b5ff;
    --c-purple: #d4aaff;
    --c-pink: #ffb5e8;
    --c-lightgrey: #eeeeee;
    --c-grey: #d2d2d2;
    --c-darkgrey: #383942;
    --c-black: #282c34;
    --c-code: #41464f;

    --c-rating: #ffe757;

    --theme-outsidebackground: var(--c-black);
    --theme-insidebackground: var(--c-darkgrey);
    --theme-pagecolor: var();
    --theme-fontcolor: var(--c-grey);
    --theme-title: var(--c-lightgrey);
    --theme-highlight: var(--theme-pagecolor);
}

@media screen and (min-width: 1440px) {
    body {
        margin: 0% 28%;
    }
}

@media screen and (max-width: 1440px) {
    body {
        margin: 0% 24%;
    }
}

@media screen and (max-width: 1220px) {
    body {
        margin: 0% 20%;
    }
}

@media screen and (max-width: 900px) {
    body {
        margin: 0% 5%;
    }
}

body {
    font-family: var(--font-family-paragraph);
    background-color: var(--theme-outsidebackground);
    color: var(--theme-fontcolor);
}

footer {
    background-color: var(--theme-outsidebackground);
    color: var(--theme-fontcolor);
}

/* main page */
h1 {
    margin: 0px 0px 17px 0px;
    font-size: 38px;
    font-family: var(--font-family-heading);
    padding: 1px;
}

h1.header-title {
    margin: 15px 0px 10px 0px;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

h1.footer-title {
    margin: 0px 0px 8px 0px;
    padding: 1px;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 600;
}

/* project and blog */
h2 {
    font-family: var(--font-family-heading);
    font-size: 28px;
    letter-spacing: 1.5px;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}

h2.header-title {
    letter-spacing: 0px;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 15px 0px 10px 0px;
    padding: 10px 0px 0px 0px;
}

p {
    font-family: var(--font-family-paragraph);
    font-size: 14px;
    line-height: 1.3;
    margin: 10px 2px;
}

p.header-paragraph {
    font-size: 15px;
    margin: 12px 0px;
}

p.list {
    font-size: 15px;
    margin: 6px 30px;
    padding: 2px 0px 0px 0px;
    line-height: 1;
}

p.footer-paragraph {
    font-size: 12px;
    font-style: normal;
    margin: 1px;
}

a {
    color: var(--theme-fontcolor);
    text-decoration: none;
    padding: 2px 0px 0px 0px;
}

a.footer {
    color: var(--theme-outsidebackground);
    text-decoration: none;
    padding: 2px 0px 0px 0px;
    margin: 0px;
}

a:hover, a:active {
    background-color: var(--theme-highlight);
    color: var(--theme-outsidebackground);
    text-shadow: none;
    border-radius: 3px;
    padding: 2px 0px 0px 0px;
}

/* a.tag {
    font-weight: 300;
    font-size: 16px;
} */

button {
    padding: 2px 5px;

    border: 3px var(--theme-pagecolor) solid;
    border-radius: 6px;
    margin: 2px 4px 2px 0px;

    background-color: var(--theme-pagecolor);
    color: var(--c-black);
    font-family: var(--font-family-heading);
    font-size: 20px;
    outline: none;
    font-weight: 700;
}

button:hover, button:active {
    border: 3px var(--theme-fontcolor) solid;
    background-color: var(--theme-fontcolor);
    color: var(--theme-outsidebackground);
}

div.header-buttons {
    margin: 20px auto 14px auto;
}

table {
    margin: 10px 5px;
    font-size: 1.2em;
    table-layout: fixed;
}

td {
    padding: 1px 0px;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    width: fit-content;
}

.box {
    border: 12px solid var(--theme-pagecolor);
    border-radius: 6px;
    background: var(--theme-pagecolor);
    min-height: 73vh;
}

.box-content {
    min-height: 73vh;
    padding: 36px;
    border-radius: 4px;
    background: var(--theme-insidebackground);
}

.footer {
    margin: 20px auto 20px auto;
    padding: 17px;
    border-radius: 6px;
    background-color: var(--theme-pagecolor);
    color: var(--theme-outsidebackground);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-subsection {
    min-width: 25%;
    margin: 0px;
    padding: 0px;
    float: left;
}

/* .subsection {
    max-width: 10%;
} */

 .header-section {
    margin: 25px 0px 0px 0px;
}
/*
.body-paragraph {
    margin: 20px 0px 0px 0px;
} */

.spoiler {
    color: var(--theme-outsidebackground);
    background-color: var(--theme-outsidebackground);
}

/* TODO: fix this later */
.spoiler:active { 
    color: var(--theme-fontcolor);
    background-color: var(--theme-insidebackground);
}

.underline {
    border-bottom: 2px solid var(--theme-highlight);
    display: inline-block;
    line-height: 0.95;
    text-shadow: 
        0px 1px var(--theme-insidebackground),
        0px 1.25px var(--theme-insidebackground),
        0px 1.5px var(--theme-insidebackground),
        0px 1.75px var(--theme-insidebackground),
        1px 1px var(--theme-insidebackground),
        1px 1.25px var(--theme-insidebackground),
        1px 1.5px var(--theme-insidebackground),
        1px 1.75px var(--theme-insidebackground),
        -1px 1px var(--theme-insidebackground),
        -1px 1.25px var(--theme-insidebackground),
        -1px 1.5px var(--theme-insidebackground),
        -1px 1.75px var(--theme-insidebackground),
        2px 1px var(--theme-insidebackground),
        2px 1.25px var(--theme-insidebackground),
        2px 1.5px var(--theme-insidebackground),
        2px 1.75px var(--theme-insidebackground),
        -2px 1px var(--theme-insidebackground),
        -2px 1.25px var(--theme-insidebackground),
        -2px 1.5px var(--theme-insidebackground),
        -2px 1.75px var(--theme-insidebackground);
}

.underline-candle {
    border-bottom: 2px solid var(--c-lime);
    display: inline-block;
    line-height: 0.95;
    text-shadow: 
        0px 1px var(--theme-insidebackground),
        0px 1.25px var(--theme-insidebackground),
        0px 1.5px var(--theme-insidebackground),
        0px 1.75px var(--theme-insidebackground),
        1px 1px var(--theme-insidebackground),
        1px 1.25px var(--theme-insidebackground),
        1px 1.5px var(--theme-insidebackground),
        1px 1.75px var(--theme-insidebackground),
        -1px 1px var(--theme-insidebackground),
        -1px 1.25px var(--theme-insidebackground),
        -1px 1.5px var(--theme-insidebackground),
        -1px 1.75px var(--theme-insidebackground),
        2px 1px var(--theme-insidebackground),
        2px 1.25px var(--theme-insidebackground),
        2px 1.5px var(--theme-insidebackground),
        2px 1.75px var(--theme-insidebackground),
        -2px 1px var(--theme-insidebackground),
        -2px 1.25px var(--theme-insidebackground),
        -2px 1.5px var(--theme-insidebackground),
        -2px 1.75px var(--theme-insidebackground);
}

.underline-book {
    border-bottom: 2px solid var(--c-darkblue);
    display: inline-block;
    line-height: 0.95;
    text-shadow: 
        0px 1px var(--theme-insidebackground),
        0px 1.25px var(--theme-insidebackground),
        0px 1.5px var(--theme-insidebackground),
        0px 1.75px var(--theme-insidebackground),
        1px 1px var(--theme-insidebackground),
        1px 1.25px var(--theme-insidebackground),
        1px 1.5px var(--theme-insidebackground),
        1px 1.75px var(--theme-insidebackground),
        -1px 1px var(--theme-insidebackground),
        -1px 1.25px var(--theme-insidebackground),
        -1px 1.5px var(--theme-insidebackground),
        -1px 1.75px var(--theme-insidebackground),
        2px 1px var(--theme-insidebackground),
        2px 1.25px var(--theme-insidebackground),
        2px 1.5px var(--theme-insidebackground),
        2px 1.75px var(--theme-insidebackground),
        -2px 1px var(--theme-insidebackground),
        -2px 1.25px var(--theme-insidebackground),
        -2px 1.5px var(--theme-insidebackground),
        -2px 1.75px var(--theme-insidebackground);
}

.underline-title {
    border-bottom: 4px solid var(--theme-pagecolor);
    display: inline-block;
    line-height: 0.95;
    text-shadow: 
        0px 1px var(--theme-insidebackground),
        0px 1.25px var(--theme-insidebackground),
        0px 1.5px var(--theme-insidebackground),
        0px 1.75px var(--theme-insidebackground),
        0px 2px var(--theme-insidebackground),
        0px 2.25px var(--theme-insidebackground),
        0px 2.5px var(--theme-insidebackground),
        1px 1px var(--theme-insidebackground),
        1px 1.25px var(--theme-insidebackground),
        1px 1.5px var(--theme-insidebackground),
        1px 1.75px var(--theme-insidebackground),
        1px 2px var(--theme-insidebackground),
        1px 2.25px var(--theme-insidebackground),
        1px 2.5px var(--theme-insidebackground),
        -1px 1px var(--theme-insidebackground),
        -1px 1.25px var(--theme-insidebackground),
        -1px 1.5px var(--theme-insidebackground),
        -1px 1.75px var(--theme-insidebackground),
        -1px 2px var(--theme-insidebackground),
        -1px 2.25px var(--theme-insidebackground),
        -1px 2.5px var(--theme-insidebackground),
        2px 1px var(--theme-insidebackground),
        2px 1.25px var(--theme-insidebackground),
        2px 1.5px var(--theme-insidebackground),
        2px 1.75px var(--theme-insidebackground),
        2px 2px var(--theme-insidebackground),
        2px 2.25px var(--theme-insidebackground),
        2px 2.5px var(--theme-insidebackground),
        -2px 1px var(--theme-insidebackground),
        -2px 1.25px var(--theme-insidebackground),
        -2px 1.5px var(--theme-insidebackground),
        -2px 1.75px var(--theme-insidebackground),
        -2px 2px var(--theme-insidebackground),
        -2px 2.25px var(--theme-insidebackground),
        -2px 2.5px var(--theme-insidebackground);
}

div.specs {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: left;
    justify-content: flex-start;
}

div.specs-code {
    border: 3px solid var(--c-lightgrey);
    background-color: var(--c-grey);
    font-size: 100%;
    border-radius: 4px;
    padding: 1px 6px;
    margin: 0px;
    color:var(--c-black);
    font-weight: bold;

    max-width: 70%;
    width: fit-content;
    font-weight: 700;
}

div.specs-words {
    min-width: 25%;
    width: fit-content;
    font-style: italic;
}

p.code-words {
    max-width: fit-content;
    margin: 3px;
    padding: 1px 6px;
}

p.code-code {
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--theme-outsidebackground);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-insidebackground);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-insidebackground);
    border-radius: 5px;
}

div.column {
    width: 30%;
    float: left;
}

div.object {
    margin: 0px 8px;
}