:root {
    /*
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap">
    */

    --font-family-paragraph: 'Inconsolata';
    --font-family-button: 'Fira Mono', monospace;
    --font-family-heading: monospace;
    --font-family-blog: 'Libre Baskerville', sans-serif;

    --c-red: #ffabab;
    --c-orange: #ffcbc1;
    --c-yellow: #fff5ba;
    --c-lime: #e7ffac;
    --c-aqua: #aff8db;
    --c-lightblue: #ace7ff;
    --c-darkblue: #63b5ff;
    --c-purple: #d4aaff;
    --c-pink: #ffb5e8;
    --c-lightgrey: #eeeeee;
    --c-grey: #d2d2d2;
    --c-darkgrey: #383942;
    --c-black: #282c34;
    --c-code: #41464f;

    --c-rating: #ffe757;

    --theme-outsidebackground: var(--c-black);
    --theme-insidebackground: var(--c-darkgrey);
    --theme-pagecolor: var();
    --theme-fontcolor: var(--c-grey);
    --theme-title: var(--c-lightgrey);
    --theme-highlight: var(--theme-pagecolor);
}

@media screen and (min-width: 1440px) {
    body {
        margin: 0% 25%;
    }
}

@media screen and (max-width: 1440px) {
    body {
        margin: 0% 18%;
    }
}

@media screen and (max-width: 1220px) {
    body {
        margin: 0% 10%;
    }
}

@media screen and (max-width: 900px) {
    body {
        margin: 0% 3%;
    }
}

body {
    font-family: var(--font-family-paragraph);
    background-color: var(--theme-outsidebackground);
    color: var(--theme-fontcolor);
}

footer {
    background-color: var(--theme-outsidebackground);
    color: var(--theme-fontcolor);
}

h1 {
    margin: 0px 0px 17px 0px;
    font-size: 38px;
    font-family: var(--font-family-heading);
    padding: 1px;
}

h1.section-title {
    margin: 15px 0px 10px 0px;
    font-size: 28px;
}

h1.footer-title {
    margin: 0px 0px 8px 0px;
    padding: 1px;
    line-height: 1.2;
    font-size: 18px;
}

h2 {
    font-family: var(--font-family-blog);
    color: var(--c-lightgrey);
    font-size: 28px;
    font-style: italic;
    letter-spacing: 1.5px;
    margin: 0px 0px 10px 0px;
}

h2.subtitle {
    font-style: normal;
    letter-spacing: 1.2px;
    font-size: 85%;
    font-weight: 500;
    margin: 8px 0px 8px 0px;
}

h2.paragraph {
    font-style: normal;
    margin: 10px 0px 3px 0px;
    font-size: 140%;
    letter-spacing: normal;
}

p {
    font-size: 110%;
    font-weight: 500;
    line-height: 1.2;
    padding: 0px;
    margin: 0px;
}

p.list {
    margin: 8px 30px;
    line-height: 1;
}

p.tiny {
    font-size: 12px;
}

code.rating {
    border: 3px solid var(--c-rating);
    background-color: var(--c-yellow);
    font-size: 20px;
    border-radius: 4px;
    padding: 1px 6px;
    margin: 0px;
    color:var(--c-black);
    font-weight: bold;
}

a {
    color: var(--theme-fontcolor);
    text-decoration: none;
}

a:hover, a:active {
    background-color: var(--theme-highlight);
    color: var(--theme-outsidebackground);
    text-shadow: none;
    border-radius: 3px;
}

a.tag {
    font-weight: 300;
    font-size: 16px;
}

button {
    padding: 2px 5px;

    border: 3px var(--theme-pagecolor) solid;
    border-radius: 6px;
    margin: 2px 4px 2px 0px;

    background-color: var(--theme-pagecolor);
    color: var(--c-black);
    font-family: var(--font-family-button);
    font-size: 20px;
    font-weight: 700;
    outline: none;
}

button:hover, button:active {
    border: 3px var(--theme-fontcolor) solid;
    background-color: var(--theme-fontcolor);
    color: var(--theme-outsidebackground);
}

div.header-buttons {
    margin: 20px auto 14px auto;
}

div.break {
    margin-top: 15px;
}

table {
    margin: 24px;
    font-size: 1.2em;
    table-layout: fixed;
}

th {
    font-weight: 500;
    font-size: 100%;
    margin: 10px;
    text-align: left;
    vertical-align: top;
    width: fit-content;
}

.box {
    border: 8px solid var(--theme-pagecolor);
    border-radius: 6px;
    margin: 10px 0px;
    padding: 24px;
    background-color: var(--theme-insidebackground);
    min-height: 70vh;
}

.footer {
    margin: 20px auto 20px auto;
    padding: 17px;
    border-radius: 6px;
    background-color: var(--theme-pagecolor);
    color: var(--theme-outsidebackground);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-subsection {
    min-width: 20%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.subsection {
    max-width: 10%;
}

.header-paragraph {
    margin: 40px 0px 0px 0px;
}

.body-paragraph {
    margin: 20px 0px 0px 0px;
}

.underline {
    border-bottom: 2px solid var(--theme-pagecolor);
    display: inline-block;
    line-height: 0.95;
    text-shadow: 
        0px 1px var(--theme-insidebackground),
        0px 1.25px var(--theme-insidebackground),
        0px 1.5px var(--theme-insidebackground),
        0px 1.75px var(--theme-insidebackground),
        1px 1px var(--theme-insidebackground),
        1px 1.25px var(--theme-insidebackground),
        1px 1.5px var(--theme-insidebackground),
        1px 1.75px var(--theme-insidebackground),
        -1px 1px var(--theme-insidebackground),
        -1px 1.25px var(--theme-insidebackground),
        -1px 1.5px var(--theme-insidebackground),
        -1px 1.75px var(--theme-insidebackground),
        2px 1px var(--theme-insidebackground),
        2px 1.25px var(--theme-insidebackground),
        2px 1.5px var(--theme-insidebackground),
        2px 1.75px var(--theme-insidebackground),
        -2px 1px var(--theme-insidebackground),
        -2px 1.25px var(--theme-insidebackground),
        -2px 1.5px var(--theme-insidebackground),
        -2px 1.75px var(--theme-insidebackground);
}

.underline-candle {
    border-bottom: 2px solid var(--c-lime);
    display: inline-block;
    line-height: 0.95;
    text-shadow: 
        0px 1px var(--theme-insidebackground),
        0px 1.25px var(--theme-insidebackground),
        0px 1.5px var(--theme-insidebackground),
        0px 1.75px var(--theme-insidebackground),
        1px 1px var(--theme-insidebackground),
        1px 1.25px var(--theme-insidebackground),
        1px 1.5px var(--theme-insidebackground),
        1px 1.75px var(--theme-insidebackground),
        -1px 1px var(--theme-insidebackground),
        -1px 1.25px var(--theme-insidebackground),
        -1px 1.5px var(--theme-insidebackground),
        -1px 1.75px var(--theme-insidebackground),
        2px 1px var(--theme-insidebackground),
        2px 1.25px var(--theme-insidebackground),
        2px 1.5px var(--theme-insidebackground),
        2px 1.75px var(--theme-insidebackground),
        -2px 1px var(--theme-insidebackground),
        -2px 1.25px var(--theme-insidebackground),
        -2px 1.5px var(--theme-insidebackground),
        -2px 1.75px var(--theme-insidebackground);
}

.underline-book {
    border-bottom: 2px solid var(--c-darkblue);
    display: inline-block;
    line-height: 0.95;
    text-shadow: 
        0px 1px var(--theme-insidebackground),
        0px 1.25px var(--theme-insidebackground),
        0px 1.5px var(--theme-insidebackground),
        0px 1.75px var(--theme-insidebackground),
        1px 1px var(--theme-insidebackground),
        1px 1.25px var(--theme-insidebackground),
        1px 1.5px var(--theme-insidebackground),
        1px 1.75px var(--theme-insidebackground),
        -1px 1px var(--theme-insidebackground),
        -1px 1.25px var(--theme-insidebackground),
        -1px 1.5px var(--theme-insidebackground),
        -1px 1.75px var(--theme-insidebackground),
        2px 1px var(--theme-insidebackground),
        2px 1.25px var(--theme-insidebackground),
        2px 1.5px var(--theme-insidebackground),
        2px 1.75px var(--theme-insidebackground),
        -2px 1px var(--theme-insidebackground),
        -2px 1.25px var(--theme-insidebackground),
        -2px 1.5px var(--theme-insidebackground),
        -2px 1.75px var(--theme-insidebackground);
}

.underline-title {
    border-bottom: 4px solid var(--theme-pagecolor);
    display: inline-block;
    line-height: 0.95;
    text-shadow: 
        0px 1px var(--theme-insidebackground),
        0px 1.25px var(--theme-insidebackground),
        0px 1.5px var(--theme-insidebackground),
        0px 1.75px var(--theme-insidebackground),
        0px 2px var(--theme-insidebackground),
        0px 2.25px var(--theme-insidebackground),
        0px 2.5px var(--theme-insidebackground),
        1px 1px var(--theme-insidebackground),
        1px 1.25px var(--theme-insidebackground),
        1px 1.5px var(--theme-insidebackground),
        1px 1.75px var(--theme-insidebackground),
        1px 2px var(--theme-insidebackground),
        1px 2.25px var(--theme-insidebackground),
        1px 2.5px var(--theme-insidebackground),
        -1px 1px var(--theme-insidebackground),
        -1px 1.25px var(--theme-insidebackground),
        -1px 1.5px var(--theme-insidebackground),
        -1px 1.75px var(--theme-insidebackground),
        -1px 2px var(--theme-insidebackground),
        -1px 2.25px var(--theme-insidebackground),
        -1px 2.5px var(--theme-insidebackground),
        2px 1px var(--theme-insidebackground),
        2px 1.25px var(--theme-insidebackground),
        2px 1.5px var(--theme-insidebackground),
        2px 1.75px var(--theme-insidebackground),
        2px 2px var(--theme-insidebackground),
        2px 2.25px var(--theme-insidebackground),
        2px 2.5px var(--theme-insidebackground),
        -2px 1px var(--theme-insidebackground),
        -2px 1.25px var(--theme-insidebackground),
        -2px 1.5px var(--theme-insidebackground),
        -2px 1.75px var(--theme-insidebackground),
        -2px 2px var(--theme-insidebackground),
        -2px 2.25px var(--theme-insidebackground),
        -2px 2.5px var(--theme-insidebackground);
}

div.specs {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: left;
    justify-content: flex-start;
}

div.specs-code {
    border: 3px solid var(--c-lightgrey);
    background-color: var(--c-grey);
    font-size: 100%;
    border-radius: 4px;
    padding: 1px 6px;
    margin: 0px;
    color:var(--c-black);
    font-weight: bold;

    max-width: 70%;
    width: fit-content;
    font-weight: 700;
}

div.specs-words {
    min-width: 25%;
    width: fit-content;
    font-style: italic;
}

p.code-words {
    max-width: fit-content;
    margin: 3px;
    padding: 1px 6px;
}

p.code-code {
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--theme-insidebackground);
}

::-webkit-scrollbar-thumb {
    background: var(--c-grey);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c-grey);
    border-radius: 5px;
}